asgiref==3.2.3
Django==3.1.13
django-filter==2.2.0
django-redis==4.11.0
djangorestframework==3.11.2
docutils==0.16
Markdown==3.2.1
numpy==1.19.0
psycopg2-binary==2.8.4
python-dotenv==0.12.0
pytz==2019.3
redis==3.4.1
six==1.15.0
sqlparse==0.3.1
websocket-client==0.57.0
wsaccel==0.6.2
